@model IEnumerable<IncomingOrdersServiceModel>

@{
    ViewData["Title"] = "Входящи поръчки";
}

<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
</head>


@if (!Model.Any())
{
    <div class="text-center">
        <hr />
        <h1 class="text-center">Все още нямате входящи поръчки!</h1>
        <a class="btn btn-primary mt-3" role="button" asp-controller="Products" asp-action="Add">Добави продукт!</a>
        <hr />
    </div>
}

<h1 class="text-center">Входящи поръчки</h1>
<hr />
<div class="row">
    @foreach (var order in Model)
    {
        <div class="col-md-4 col-sm-12 col-lg-4 col-xl-4">
            <div class="card mb-3" style="max-width: 540px; min-height:950px">
                <div class="col-md-12 text-center">
                    @if (order.Status == "Изпълнена")
                    {
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@order.ProductId" class="card-text btn btn-outline-warning disabled">
                            <img src=@order.ImageURL class="card-img-top img-responsive rounded-start" alt="Image">
                        </a>
                    }
                    @if (order.Status != "Изпълнена")
                    {
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@order.ProductId" class="card-text btn btn-outline-warning">
                            <img src=@order.ImageURL class="card-img-top img-responsive rounded-start" alt="Image">
                        </a>
                    }
                </div>
                <div class="col-md-12 text-center">
                    <div class="card-body text-center">
                        <h5 class="card-title font-weight-bold">Информация за поръчката:</h5>
                        <p class="card-text"><span class="font-weight-bold">Име: </span>@order.FirstName</p>
                        <p class="card-text"><span class="font-weight-bold">Фамилия: </span>@order.LastName</p>
                        <p class="card-text"><span class="font-weight-bold">Телефон: </span>@order.PhoneNumber</p>
                        <p class="card-text"><span class="font-weight-bold">Град: </span>@order.Town</p>
                        <p class="card-text"><span class="font-weight-bold">Адрес: </span>@order.ShippingAddress</p>
                        <p class="card-text"><span class="font-weight-bold">Цена: </span>@order.Price</p>
                        <p class="card-text"><span class="font-weight-bold">Дата на поръчката: </span>@order.CreatedOn</p>
                        <hr />

                        @{
                            if (order.Status == "0")
                            {
                                order.Status = "Изчакване";
                            }
                        }

                        @if (order.Status == "Изчакване")
                        {
                            <p class="card-text text-warning font-weight-bold"><span class="font-weight-bold text-dark">Статус: </span>@order.Status</p>
                            <a asp-controller="Orders" asp-action="CompleteOrder" asp-route-id="@order.Id" class="card-text btn btn-success mr-3">Изпълни</a>
                            <a asp-controller="Orders" asp-action="DeclineOrder" asp-route-id="@order.Id" class="card-text btn btn-danger mr-3">Откажи</a>
                        }

                        @if (order.Status == "Изпълнена")
                        {
                            <p class="card-text text-success font-weight-bold"><span class="font-weight-bold text-dark">Статус: </span>@order.Status</p>
                        }

                        @if (order.Status == "Отказана")
                        {
                            <p class="card-text text-danger font-weight-bold"><span class="font-weight-bold text-dark">Статус: </span>@order.Status</p>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
</div>
