@model IEnumerable<IncomingOrdersViewModel>
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
    @*<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>*@
    @*<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
</head>

@if (!Model.Any())
{
    <div class="text-center">
        <hr />
        <h1 class="text-center">Все още нямате входящи поръчки!</h1>
        <a class="btn btn-primary mt-3" role="button" asp-controller="Products" asp-action="Add">Добави продукт!</a>
        <hr />
    </div>
}

<div class="col-6">
    @foreach (var product in Model)
    {
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src=@product.ImageURL class="img-fluid rounded-start" alt="Image">
                </div>
                <div class="col-md-8 text-center">
                    <div class="card-body">
                        @*<h5 class="card-title font-weight-bold">@product.Title</h5>*@
                        <p class="card-text"><span class="font-weight-bold">Име: </span>@product.FirstName</p>
                        <p class="card-text"><span class="font-weight-bold">Фамилия: </span>@product.LastName</p>
                        <p class="card-text"><span class="font-weight-bold">Телефон: </span>@product.PhoneNumber</p>
                        <p class="card-text"><span class="font-weight-bold">Адрес: </span>@product.ShippinhAddress</p>
                        <p class="card-text"><span class="font-weight-bold">Цена: </span>@product.Price</p>
                        <hr />
                    </div>
                    @*<a class="btn btn-danger" role="button" asp-controller="Cart" asp-action="Delete" asp-route-productId=@product.ProductId asp-route-userId=@User.Id()>Премахни от количката!</a>*@
                </div>
            </div>
        </div>
    }
</div>
