@model IEnumerable<ProductServiceModel>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top img-responsive" src="@product.ImageUrl" alt="@product.Price - @product.Title (@product.Condition)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Title</h5>
                    <h5 class="card-title text-center">(@product.Condition)</h5>
                    <h5 class="card-title text=center">@product.Price лв.</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Виж</a>
                    @if (ViewBag.IsEditAllowed == true)
                    {
                        <a asp-controller="Products" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-warning ml-2 mr-2">Редактирай</a>
                        <a asp-controller="Products" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger">Изтрий</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
