@model AllProductsQueryModel
@{
    ViewData["Title"] = "Всички продукти";
}

<link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />

<form method="get">
    <div class="row mb-3">
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Manufacturer"></label>
                <select asp-for="Manufacturer" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <option value="@manufacturer">@manufacturer</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Последно добавени</option>
                <option value="1">Ниска към висока(цена)</option>
                <option value="2">Висока към ниска(цена)</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Тениска Gucci, Панталон Adidas и тн....">
        </div>

    </div>


</form>

@{
    var previousPage = Model.CurrentPage - 1;
    if (previousPage < 1)
    {
        previousPage = 1;
    }

    var maxPage = Math.Ceiling((double)Model.TotalProducts / AllProductsQueryModel.ProductsPerPage);
}

<div class="row mb-5">
    <div class="col-md-6">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="Products"
           asp-action="All"
           asp-route-CurrentPage="@previousPage"
           asp-route-brand="@Model.Manufacturer"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"
           asp-route-category="@Model.Category"><<</a>
    </div>

    @{
        var shouldButtonBeDisabled = Model.CurrentPage == maxPage ||
                                     !Model.Products.Any();
    }

    <div class="col-md-6">
        <a class="btn btn-primary float-sm-right @(shouldButtonBeDisabled ? "disabled" : string.Empty)" style="margin-top: 10px"
           asp-controller="Products"
           asp-action="All"
           asp-route-CurrentPage="@(Model.CurrentPage + 1)"
           asp-route-brand="@Model.Manufacturer"
           asp-route-searchTerm="@Model.SearchTerm"
           asp-route-sorting="@((int)Model.Sorting)"
           asp-route-category="@Model.Category">>></a>
    </div>
</div>

@if (Model.Products.Count() == 0)
{
    <div>
        <hr />
        <h1 class="text-center">Няма намерени продукти с тези показатели!</h1>
        <hr />
    </div>
}

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top img-responsive" src="@product.ImageUrl" alt="@product.Price - @product.Title (@product.Condition)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Title</h5>
                    <h5 class="card-title text-center">(@product.Condition)</h5>
                    <h5 class="card-title text=center">@product.Price лв.</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Виж повече</a>
                </div>
            </div>
        </div>
    }
</div>
