@model AllProductsQueryModel
@{
    ViewData["Title"] = "Всички продукти";
}
@*Да довърша сортировка филтри и пейджиране , да добавя категории*@

<form method="get">
    <div class="row mb-3">
        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Manufacturer"></label>
                <select asp-for="Manufacturer" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <option value="@manufacturer">@manufacturer</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <div class="form-group">
                <label asp-for="Category"></label>
                <select asp-for="Category" class="form-control">
                    <option value="">Всички</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category">@category</option>
                    }
                </select>
            </div>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Sorting"></label>
            <select asp-for="Sorting" class="form-control">
                <option value="0" selected>Последно добавени</option>
                <option value="1">Ниска към висока(цена)</option>
                <option value="2">Висока към ниска(цена)</option>
            </select>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="SearchTerm"></label>
            <input asp-for="SearchTerm" class="form-control" placeholder="Тениска Gucci, Панталон Adidas и тн....">
        </div>

    </div>


</form>

<div class="row">
    @foreach (var product in Model.Products)
    {
        <div class="col-md-4">
            <div class="card mb-3">
                <img class="card-img-top" src="@product.ImageUrl" alt="@product.Price - @product.Title (@product.Condition)">
                <div class="card-body text-center">
                    <h5 class="card-title text-center">@product.Title</h5>
                    <h5 class="card-title text-center">(@product.Condition)</h5>
                    <h5 class="card-title text=center">@product.Price лв.</h5>
                    <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Виж повече</a>
                </div>
            </div>
        </div>
    }
</div>
