@model IndexViewModel

@{
    ViewData["Title"] = "Начална страница";
}

<link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
@if (!this.User.Identity.IsAuthenticated)
{
<body>
    @*<div class="jumbotron">
        <h1 class="display-4">Добре дошли в най-добрия онлайн магазин за втора упoтреба дрехи!</h1>
        <p class="lead">Направете своята регистрация и започнете да купувате и продавате дрехи сега!</p>
        <hr class="my-4">
        <p class="lead">
            <a class="nav-link text-dark font-weight-bold btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
        </p>
    </div>*@
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100 mh-100 img-responsive" style="opacity:0.7" src="https://i.pinimg.com/736x/4c/11/22/4c11221e4eb7376d246fe7dc3ab0ec66.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block align-text-top">
                    <h4 class="text-white text-center">Добре дошли в най-добрия онлайн магазин за втора употреба</h4>
                    <p class="lead">Направете своята регистрация и започнете да купувате и продавате дрехи сега!</p>
                    <hr class="my-4">
                    <p class="lead">
                        <a class="nav-link text-dark font-weight-bold btn btn-outline-dark btn-primary" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                    </p>
                </div>
        </div>
        @*<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>*@
    </div>
    </div>
    <div>        
        <hr class="mt-4">
    </div>
    <div class="mt-5">
        <h2 class="text-center bg-white">-Последно добавени продукти-</h2>
        <hr class="my-4 mb-5">
    </div>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top img-responsive" src="@product.ImageUrl" alt="@product.Category - @product.Brand">
                    <div class="card-body text-center">
                        @*<h5 class="card-title text-center">@product.Title</h5>
                            <h5 class="card-title text-center">(@product.Condition)</h5>
                            <h5 class="card-title text=center">@product.Price лв.</h5>*@
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Виж повече</a>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
}
@if(this.User.Identity.IsAuthenticated)
{
<body>
    <div>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100 mh-100 img-responsive" style="opacity:0.7" src="https://i.pinimg.com/736x/4c/11/22/4c11221e4eb7376d246fe7dc3ab0ec66.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block align-text-top">
                        <h4 class="display-4 text-white text-center font-italic">Добре дошли в най-добрия онлайн магазин за втора употреба!</h4>
                    </div>
                </div>
                @*<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>*@
            </div>
        </div>
        <h2 class="text-center mt-5">-Последно добавени продукти-</h2>
        <hr class="my-4 mb-5">
    </div>

    <div class="row">
        @foreach (var product in Model.Products)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img class="card-img-top img-responsive" src="@product.ImageUrl" alt="@product.Category - @product.Brand">
                    <div class="card-body text-center">
                        @*<h5 class="card-title text-center">@product.Title</h5>
                            <h5 class="card-title text-center">(@product.Condition)</h5>
                            <h5 class="card-title text=center">@product.Price лв.</h5>*@
                        <a asp-controller="Products" asp-action="Details" asp-route-id="@product.Id" class="btn btn-primary">Виж повече</a>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
}
